$topValue = 116 //用于计算
// $topValue = 150
$top = ($topValue)px
$left = 170px
$right = 320px
$themColor = #ff513f
bg($color)
  background $color
cant-select()
  user-select none
pointer()
  cursor pointer
hover($color)
  &:hover
    color $color
ellpisis()
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
